@using Challenge_3_Web.Enum


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4 class="display-4">Data Stream</h4>
<table class="table table-success">
    <tr>
        <th>para1</th>
        <th>para2</th>
        <th>para3</th>
        <th>para4</th>
        <th>para5</th>
        <th>para6</th>
        
    </tr>
    
    @* @foreach(){} *@
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
</table>